@base: #fbedd0;
@navbar-height: 100px;
@active-link-bg: #f4bd01;
@color: #2d2d21;
@banner-bg: #fea805;
@box-border: #5f5600;
@blue: #2e5187;
@white: #fff;
@shadow: #696868;
@dark-blue: #153158;
@service-border: #f5edda;
@contact-form-field-bg: #234471;
@contact-form-field-border: #5074a6;
@contact-from-bg: #2e5187;

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

body {
  background: @base;
  color: @color;
  font-family: 'Helvetica Neue', arial, sans-serif;
}

.navbar-fixed-top {
  height: @navbar-height;
  background-color: @base;
  border-bottom: 0;
  .navbar-collapse {
    margin-top: 49px;
  }
}

.navbar-brand {
  position: relative;
  bottom: 38px;
}

.navbar-inverse {
  .navbar-nav {
    & > .active {
      & > a,& > a:focus,& > a:hover {
        background: @active-link-bg;
      }
    }
    & > li {
      & > a:focus,& > a:hover {
        background: @active-link-bg;
      }
      a {
        color: @blue;
        padding-top: 16px;
      }
    }
  }
}

a.read-more {
  color: @color;
  padding-top: 16px;
  background: @blue;
  padding: 5px 10px;
  color: @white;

  span {
    margin-left: 30px;
  }
  &:hover {
    text-decoration: none;
  }
}

.banner-slider {
  background: @banner-bg;
  -moz-box-shadow:    inset  0  8px 8px -8px @shadow;
  -webkit-box-shadow: inset  0  8px 8px -8px @shadow;
  box-shadow:        inset  0  8px 8px -8px @shadow;
  width: 100%;
  margin-top: 100px;
  padding-top: 5px;
  .carousel.slide {
    background: @active-link-bg;
    padding-left: 100px;
    padding-right: 100px;

    .carousel-control.left,.carousel-control.right {
      background-image: none;
      .glyphicon-chevron-left {
        margin-left: -52px;
      }
      .glyphicon-chevron-right{
        margin-right: -52px;
      }

      .glyphicon-chevron-left,
      .glyphicon-chevron-right {
        background: @white;
        color: @active-link-bg;
        width: 30px;
        height: 60px;
        line-height: 60px;
        top: 45%;
      }

    }
    .image,.description {
      float: left;
    }
    .image {
      width: 65%;
      margin-right: 5%;
      overflow: hidden;
      img {
        width: 120%;
        height: 100%;
        margin-left: -10%;
      }
    }
    .description {
      width: 30%;
      h2 {
        margin-top: 50px;
        padding: 10px;
        border: 1px solid @box-border;
        font-size: 24px;
      }

      p {
        margin-bottom: 20px;
        margin-top: 20px;
      }

      a {


      }
      padding-bottom: 0;
      padding-bottom: 30px;
    }
  }
}

.container {
  .main-content {
    box-shadow: 4px 0 8px -2px rgba(105,104,104, 0.4), -4px 0 8px -2px rgba(105,104,104, 0.4);
    background: @white;
    padding-top: 30px;
    .jumbotron {
      .border-radius(0px);
      background: @base;
      text-align: center;
      padding-top: 30px;
      p {
        font-weight: normal;
        font-size: 17px;
      }
    }

  }

  .services {
    position: relative;
    padding: 50px;
    .controls {
      .carousel-control {
        position: relative;
      }
      a {
        background-image: none;
        background: @dark-blue;
        width: 30px;
        height: 25px;
        opacity: 1.0;
        display: inline-block;
        &.left {
          margin-right: 5px;
        }
      }
    }

    & .col-lg-3{

      .content {
        border: 1px solid @dark-blue;
        background: @base;
        .thumb {
          overflow: hidden;
          img {
            width: 250px;
            height: 190px;
          }
        }
        .details {
          padding: 20px;
          h4 {
            margin-top: 10px;
            margin-bottom: 20px;
          }
          p {
            padding-bottom: 15px;
          }
        }
      }
      &:first-child {
        .content {
          border: none;
          padding-top: 120px;
          background: @white;

        }
        p {
          margin-bottom: 20px;
          line-height: 25px;
        }
      }
    }
  }
}

h4,h3 {
  text-transform: uppercase;
  font-size: 15px;
}

.knee {
  background: @contact-from-bg;
  padding: 30px 50px;
  color: @white;
  .contact {
    text-align: left;
    .form-control,button {
      .border-radius(0px);
      border: 1px solid @contact-form-field-border;
      background: @contact-form-field-bg;
      color: @white;
    }
    button {
      border: none;
      float: right;
      width: 150px;
    }
    color: @white;
    .form-control::-moz-placeholder {
      color: @white;
    }

    .form-group {
      margin-bottom: 30px;
    }
  }
  h4 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .gallery img {
    width: 100%;
    height: 200px;
  }

  .address span {
    margin-right: 20px;
  }

}

footer {
  padding: 20px 50px;
  p {
    margin-bottom: 0;
  }
  .social {
    a {
      background: url("images/socials.png");
      width: 28px;
      height: 28px;
      display: inline-block;
      position: relative;
      top: 10px;
      margin-right: 5px;
      &.facebook {
        background-position: -6px 0;
        margin-left: 10px;
      }
      &.twitter {
        background-position: -45px 0;
      }
      &.linkedin {
        background-position: -85px 0;
      }
      &.google {
        background-position: -125px 0;
      }
    }
  }

}

.align-right {
  text-align: right;
}

.copyright {
  margin-top: 14px;
}

@media (max-width: 768px) {
  .navbar-brand {
    bottom: 0px;
  }
}