body {
  background: #fbedd0;
  color: #2d2d21;
  font-family: 'Helvetica Neue', arial, sans-serif;
}
.navbar-fixed-top {
  height: 100px;
  background-color: #fbedd0;
  border-bottom: 0;
}
.navbar-fixed-top .navbar-collapse {
  margin-top: 49px;
}
.navbar-brand {
  position: relative;
  bottom: 38px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #f4bd01;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  background: #f4bd01;
}
.navbar-inverse .navbar-nav > li a {
  color: #2e5187;
  padding-top: 16px;
}
a.read-more {
  color: #2d2d21;
  padding-top: 16px;
  background: #2e5187;
  padding: 5px 10px;
  color: #fff;
}
a.read-more span {
  margin-left: 30px;
}
a.read-more:hover {
  text-decoration: none;
}
.banner-slider {
  background: #fea805;
  -moz-box-shadow: inset 0 8px 8px -8px #696868;
  -webkit-box-shadow: inset 0 8px 8px -8px #696868;
  box-shadow: inset 0 8px 8px -8px #696868;
  width: 100%;
  margin-top: 100px;
  padding-top: 5px;
}
.banner-slider .carousel.slide {
  background: #f4bd01;
  padding-left: 100px;
  padding-right: 100px;
}
.banner-slider .carousel.slide .carousel-control.left,
.banner-slider .carousel.slide .carousel-control.right {
  background-image: none;
}
.banner-slider .carousel.slide .carousel-control.left .glyphicon-chevron-left,
.banner-slider .carousel.slide .carousel-control.right .glyphicon-chevron-left {
  margin-left: -52px;
}
.banner-slider .carousel.slide .carousel-control.left .glyphicon-chevron-right,
.banner-slider .carousel.slide .carousel-control.right .glyphicon-chevron-right {
  margin-right: -52px;
}
.banner-slider .carousel.slide .carousel-control.left .glyphicon-chevron-left,
.banner-slider .carousel.slide .carousel-control.right .glyphicon-chevron-left,
.banner-slider .carousel.slide .carousel-control.left .glyphicon-chevron-right,
.banner-slider .carousel.slide .carousel-control.right .glyphicon-chevron-right {
  background: #fff;
  color: #f4bd01;
  width: 30px;
  height: 60px;
  line-height: 60px;
  top: 45%;
}
.banner-slider .carousel.slide .image,
.banner-slider .carousel.slide .description {
  float: left;
}
.banner-slider .carousel.slide .image {
  width: 65%;
  margin-right: 5%;
  overflow: hidden;
}
.banner-slider .carousel.slide .image img {
  width: 120%;
  height: 100%;
  margin-left: -10%;
}
.banner-slider .carousel.slide .description {
  width: 30%;
  padding-bottom: 0;
  padding-bottom: 30px;
}
.banner-slider .carousel.slide .description h2 {
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #5f5600;
  font-size: 24px;
}
.banner-slider .carousel.slide .description p {
  margin-bottom: 20px;
  margin-top: 20px;
}
.container .main-content {
  box-shadow: 4px 0 8px -2px rgba(105, 104, 104, 0.4), -4px 0 8px -2px rgba(105, 104, 104, 0.4);
  background: #fff;
  padding-top: 30px;
}
.container .main-content .jumbotron {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #fbedd0;
  text-align: center;
  padding-top: 30px;
}
.container .main-content .jumbotron p {
  font-weight: normal;
  font-size: 17px;
}
.container .services {
  position: relative;
  padding: 50px;
}
.container .services .controls .carousel-control {
  position: relative;
}
.container .services .controls a {
  background-image: none;
  background: #153158;
  width: 30px;
  height: 25px;
  opacity: 1.0;
  display: inline-block;
}
.container .services .controls a.left {
  margin-right: 5px;
}
.container .services .col-lg-3 .content {
  border: 1px solid #153158;
  background: #fbedd0;
}
.container .services .col-lg-3 .content .thumb {
  overflow: hidden;
}
.container .services .col-lg-3 .content .thumb img {
  width: 250px;
  height: 190px;
}
.container .services .col-lg-3 .content .details {
  padding: 20px;
}
.container .services .col-lg-3 .content .details h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.container .services .col-lg-3 .content .details p {
  padding-bottom: 15px;
}
.container .services .col-lg-3:first-child .content {
  border: none;
  padding-top: 120px;
  background: #fff;
}
.container .services .col-lg-3:first-child p {
  margin-bottom: 20px;
  line-height: 25px;
}
h4,
h3 {
  text-transform: uppercase;
  font-size: 15px;
}
.knee {
  background: #2e5187;
  padding: 30px 50px;
  color: #fff;
}
.knee .contact {
  text-align: left;
  color: #fff;
}
.knee .contact .form-control,
.knee .contact button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #5074a6;
  background: #234471;
  color: #fff;
}
.knee .contact button {
  border: none;
  float: right;
  width: 150px;
}
.knee .contact .form-control::-moz-placeholder {
  color: #fff;
}
.knee .contact .form-group {
  margin-bottom: 30px;
}
.knee h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.knee .gallery img {
  width: 100%;
  height: 200px;
}
.knee .address span {
  margin-right: 20px;
}
footer {
  padding: 20px 50px;
}
footer p {
  margin-bottom: 0;
}
footer .social a {
  background: url("images/socials.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  position: relative;
  top: 10px;
  margin-right: 5px;
}
footer .social a.facebook {
  background-position: -6px 0;
  margin-left: 10px;
}
footer .social a.twitter {
  background-position: -45px 0;
}
footer .social a.linkedin {
  background-position: -85px 0;
}
footer .social a.google {
  background-position: -125px 0;
}
.align-right {
  text-align: right;
}
.copyright {
  margin-top: 14px;
}
@media (max-width: 768px) {
  .navbar-brand {
    bottom: 0px;
  }
}
